<h3>Add Non-instructional Load</h3>
<form id="createNonInsLoad" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="instructorIDLookup">Instructor</label>
        <select class="form-control" id="instructorIDLookup" name="instructorID">
            {% for each in instructors %}
                <option value="{{ each[2] }}">{{ each[1] }}, {{ each[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="task">Task</label>
        <input type="text" class="form-control" id="task" name="task" aria-describedby="taskHelp"
               placeholder="Enter task">
        <small id="taskHelp" class="form-text text-muted">Ex. 'Lab Coordinator'</small>
    </div>
    <div class="form-group">
        <label for="teu">TEUs</label>
        <input type="text" class="form-control" id="teu" name="teu" aria-describedby="teuHelp"
               placeholder="Enter TEUs">
        <small id="teuHelp" class="form-text text-muted">Ex. '3.4'</small>
    </div>
    <div class="form-group">
        <label for="semester">Semester</label>
        <select class="form-control" id="semester" name="semester">
            <option>Fall</option>
            <option>Interim</option>
            <option>Spring</option>
            <option>Summer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" min="1990" step="1" id="year" name="year"
               placeholder="2000">
    </div>
    <input type="submit" value="Add Non-Instructional Load" class="btn btn-primary" />
</form>
<div id = "alert_placeholder_non_ins_load"></div>
<h3>Remove Non-instructional Load</h3>
<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor ID</th>
            <th>Task</th>
            <th>TEU Value</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Remove Non-Ins Load</th>
        </tr>
        </thead>
        <tbody>
        {% for each in non_ins_load %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            <td><a class="btn btn-danger" onclick="reloadPage('add-non-instructional', '/remove-non-ins/{{ each[0] }}/{{ each[1] }}/{{ each[3] }}/{{ each[4] }}')">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<script>
    $(document).ready(function () {
        $("#createNonInsLoad").submit(function () {
            return create_noninsload()
        });
    });
</script>