<form id="createNonInsLoad" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="instructorIDLookup">Instructor</label>
        <select class="form-control" id="instructorIDLookup" name="instructorID">
            {% for each in instructors %}
                <option value="{{ each[2] }}">{{ each[1] }}, {{ each[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="task">Task</label>
        <input type="text" class="form-control" id="task" name="task" aria-describedby="taskHelp"
               placeholder="Enter task">
        <small id="taskHelp" class="form-text text-muted">Ex. 'Lab Coordinator'</small>
    </div>
    <div class="form-group">
        <label for="teu">TEUs</label>
        <input type="text" class="form-control" id="teu" name="teu" aria-describedby="teuHelp"
               placeholder="Enter TEUs">
        <small id="teuHelp" class="form-text text-muted">Ex. '3.4'</small>
    </div>
    <div class="form-group">
        <label for="semester">Semester</label>
        <select class="form-control" id="semester" name="semester">
            <option>Fall</option>
            <option>Interim</option>
            <option>Spring</option>
            <option>Summer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" min="1990" step="1" id="year" name="year"
               placeholder="2000">
    </div>
    <input type="submit" value="Add Non-Instructional Load" class="btn btn-primary" />
</form>
<div id = "alert_placeholder_non_ins_load"></div>

<script>
    $(document).ready(function () {
        $("#createNonInsLoad").submit(function () {
            return create_noninsload()
        });
    });
</script>