<form id="createCourse" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="courseID">Course ID</label>
        <input type="text" class="form-control" id="courseID" name="courseID" aria-describedby="courseIdHelp"
               placeholder="Enter course id">
        <small id="courseIdHelp" class="form-text text-muted">Ex. 'COS-211'</small>
    </div>
    <div class="form-group">
        <label for="department">Department</label>
        <input type="text" class="form-control" id="department" name="department" placeholder="Enter department">
    </div>
    <div class="form-group">
        <label for="credits">Credits</label>
        <input type="text" class="form-control" id="credits" name="credits"
               aria-describedby="creditHelp" placeholder="Enter number of credits">
        <small id="creditHelp" class="form-text text-muted">Must be more than 0 credits / Cannot be 0</small>
    </div>
    <div class="form-group">
        <label for="title">Course Title</label>
        <input type="text" class="form-control" id="title" name="title"
               aria-describedby="titleHelp" placeholder="Enter course title">
        <small id="titleHelp" class="form-text text-muted">The title of the course being offered</small>
    </div>
    <input type="submit" value="Add Course" class="btn btn-primary" />
</form>
<div id = "alert_placeholder_course"></div>
<script>
    $("#createCourse").submit(function() {
        $.ajax({
            url:'/receive-course',
            type:'post',
            data: $('#createCourse').serialize(),
            success: function(result) {
                if (result == "Query Completed Successfully") {
                    $('#alert_placeholder_course').html('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Holy guacamole!</strong> '+ result +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    $('#courseID').val('');
                    $('#department').val('');
                    $('#credits').val('');
                    $('#title').val('');
                } else {
                    $('#alert_placeholder_course').html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>JA JA JA JA</strong> '+ result +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                }
            },
            error: function(result) {
                alert(result);
            }
        });
        return false;
    });
</script>