<h3>Add Section</h3>
<form id="createSection" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="courseIDLookup">Course ID</label>
        <select class="form-control" id="courseIDLookup" name="courseID">
            {% for each in course_ids %}
            <option>{{ each[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="section">Section Number</label>
        <input type="number" class="form-control" min="1" step="1" id="section" name="section"
               placeholder="1">
    </div>
    <div class="form-group">
        <label for="semester">Semester</label>
        <select class="form-control" id="semester" name="semester">
            <option>Fall</option>
            <option>Interim</option>
            <option>Spring</option>
            <option>Summer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" min="1990" step="1" id="year" name="year"
               placeholder="2000">
    </div>
    <input type="submit" value="Add Section" class="btn btn-primary"/>
</form>
<div id="alert_placeholder_section"></div>
<h3>Remove Existing Section</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Remove From Sections</th>
        </tr>
    </thead>
    <tbody>
    {% for each in sections %}
        <tr>
            {% for item in each %}
                <td>{{ item }}</td>
            {% endfor %}
            <td><a class="btn btn-danger" onclick="reloadPage('add-section-course', '/remove-section/{{ each[0] }}/{{ each[1] }}/{{ each[2] }}/{{ each[3] }}')">Remove</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#createSection").submit(function () {
            return create_section()
        });
    });
</script>