<form id="createMod" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="courseIDLookup">Course ID</label>
        <select class="form-control" id="courseIDLookup" name="courseID">
            {% for each in course_ids %}
            <option>{{ each[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="section">Section Number</label>
        <input type="number" class="form-control" min="1" step="1" id="section" name="section"
               placeholder="1">
    </div>
    <div class="form-group">
        <label for="semester">Semester</label>
        <select class="form-control" id="semester" name="semester">
            <option>Fall</option>
            <option>Interim</option>
            <option>Spring</option>
            <option>Summer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" min="1990" step="1" id="year" name="year"
               placeholder="2000">
    </div>
    <div class="form-group">
        <label for="instructorToPair">Instructor</label>
        <select class="form-control" id="instructorToPair" name="instructorToPair">
            {# Use jinja and a passed in dictionary / array of classes #}
            {% for each in instructors %}
                <option value="{{ each[2] }}">{{ each[1] }}, {{ each[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="modToPair">Mod</label>
        <select class="form-control" id="modToPair" name="modToPair">
            {# Use jinja and a passed in dictionary / array of classes #}
            {% for each in mods %}
            <option>{{ each[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Assign MOD to Course" class="btn btn-primary"/>
</form>
<div id="alert_placeholder_mod"></div>
<script>
    $("#createMod").submit(function() {
        $.ajax({
            url:'/receive-teaches-mod',
            type:'post',
            data: $('#createMod').serialize(),
            success: function(result) {
                if (result == "Query Completed Successfully") {
                    $('#alert_placeholder_mod').html('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Holy guacamole!</strong> '+ result +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    $('#courseIDLookup').val('');
                    $('#section').val('');
                    $('#semester').val('');
                    $('#year').val('');
                    $('#instructorToPair').val('');
                    $('#modToPair').val('');
                } else {
                    $('#alert_placeholder_mod').html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>JA JA JA JA</strong> ' + result + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                }
            },
            error: function(result) {
                alert(result);
            }
        });
        return false;
    });
</script>