<form id="createMod" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="teach">Teaches Entry</label>
        <select class="form-control" id="teach" name="teach" size="10">
            {% for each in teaches %}
                <option value='{"id":"{{ each[0] }}","course_id":"{{ each[1] }}","section":"{{ each[2] }}","semester":"{{ each[3] }}", "year":"{{ each[4] }}"}'>{{ each[0] }}
                    -- {{ each[1] }} -- {{ each[2] }} -- {{ each[3] }} -- {{ each[4] }} -- {{ each[5] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="modToPair">Mod</label>
        <select class="form-control" id="modToPair" name="modToPair">
            {# Use jinja and a passed in dictionary / array of classes #}
            {% for each in mods %}
                <option>{{ each[0] }}</option>
            {% endfor %}
            <option value="NULL">none</option>
        </select>
    </div>
    <input type="submit" value="Assign MOD to Course" class="btn btn-primary"/>
</form>
<div id="render"></div>
<div id="alert_placeholder_mod"></div>
<script>
    $(document).ready(function () {
        $("#createMod").submit(function () {
            return create_mod()
        });
    });
</script>