{% extends "header.html" %}
{% block content %}
    <h1 id="titleOfPage">Dashboard:</h1>
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h4>Quick-Jump Links</h4></div>
            <div class="card-text">
                <ul>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#clusters">Course Clusters</a></li>
                    <li><a href="#instructors">Instructors</a></li>
                    <li><a href="#sections">Sections</a></li>
                    <li><a href="#teaches">Teaches</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <h3 id="courses">Courses</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course ID</th>
            <th>Department</th>
            <th>Credits</th>
            <th>Course Title</th>
        </tr>
        </thead>
        <tbody>
        {% for each in courses %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ courses.__len__() }} Courses</i>
    <a class="btn btn-primary" href="/functions">Add Course</a>

    <hr>
    <h3 id="clusters">Course Clusters</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Course ID</th>
                <th>Cluster ID</th>
            </tr>
        </thead>
        <tbody>
        {% for each in clusters %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ clusters.__len__() }} Course Clusters</i>
    <a class="btn btn-primary" href="#">Add Cluster</a>

    <hr>
    <h3 id="instructors">Instructors</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>First N</th>
            <th>Last N</th>
            <th>Email</th>
            <th>ID</th>
            <th>Desired Load</th>
        </tr>
        </thead>
        <tbody>
        {% for each in instructors %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ instructors.__len__() }} Instructors</i>
    <a class="btn btn-primary" href="/functions">Add Instructor</a>

    <hr>
    <h3 id="sections">Sections</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for each in sections %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ sections.__len__() }} Sections</i>
    <a class="btn btn-primary" href="/functions">Add Section</a>

    <hr>
    <h3 id="teaches">Teaches</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor ID</th>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Mod</th>
        </tr>
        </thead>
        <tbody>
        {% for each in teaches %}
            <tr>
                {% for item in each %}
                    {% if item == None %}
                        <td>
                            <button type="button" class="badge badge-danger" data-container="body" data-toggle="popover"
                                    data-placement="top"
                                    data-content="Be sure to associate a mod to this class">
                            {{ item }}</button></td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ teaches.__len__() }} Assigned Courses</i>
    <a class="btn btn-primary" href="/functions">Associate Course with Instructor</a>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}