{% extends "header.html" %}
{% block content %}
    <h1 id="titleOfPage">Dashboard:</h1>
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h4>Quick-Jump Links</h4></div>
            <div class="card-text">
                <ul>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#clusters">Course Clusters</a></li>
                    <li><a href="#instructors">Instructors</a></li>
                    <li><a href="#sections">Sections</a></li>
                    <li><a href="#instructor-time-restrictions">Instructor Time Restrictions</a></li>
                    <li><a href="#teaches">Teaches</a></li>
                    <li><a href="#non-instructional-load">Non-Instructional Load</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="ad-revenue">
        <h1 style="position: absolute; z-index: -1;">Please donate, we need money</h1>
        <img id="mascot" src="{{ url_for('static', filename='hirola-wo-white.png') }}"/>
    </div>
    <hr>
    <h3 id="courses">Courses</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course ID</th>
            <th>Department</th>
            <th>Credits</th>
            <th>Course Title</th>
        </tr>
        </thead>
        <tbody>
        {% for each in courses %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ courses.__len__() }} Courses</i>
    <a class="btn btn-primary" href="/functions#headingTwoOpen">Add Course</a>

    <hr>
    <h3 id="clusters">Course Clusters</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course ID</th>
            <th>Cluster ID</th>
        </tr>
        </thead>
        <tbody>
        {% for each in clusters %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ clusters.__len__() }} Course Clusters</i>
    <a class="btn btn-primary" href="/functions#headingSixOpen">Add/Remove Cluster</a>

    <hr>
    <h3 id="instructors">Instructors</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>First N</th>
            <th>Last N</th>
            <th>Email</th>
            <th>ID</th>
            <th>Desired Load</th>
        </tr>
        </thead>
        <tbody>
        {% for each in instructors %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ instructors.__len__() }} Instructors</i>
    <a class="btn btn-primary" href="/functions#headingOneOpen">Add Instructor</a>

    <hr>
    <h3 id="sections">Sections</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for each in sections %}
            <tr>
                {% for item in each %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ sections.__len__() }} Sections</i>
    <a class="btn btn-primary" href="/functions#headingThreeOpen">Add/Remove Section</a>

    <hr>
    <h3 id="instructor-time-restrictions">Instructor Time Restrictions</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor ID</th>
            <th>Mod</th>
        </tr>
        </thead>
        <tbody>
        {% for each in ins_time_restrict %}
            <tr>
                <td>{{ each[0] }} {{ each[1] }} ({{ each[2] }})</td>
                <td>{{ each[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ ins_time_restrict.__len__() }} Time Restrictions</i>
    <a class="btn btn-primary" href="/functions#headingEightOpen">Add/Remove Instructor Time Restriction</a>

    <hr>
    <h3 id="teaches">Teaches</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor ID</th>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Mod</th>
        </tr>
        </thead>
        <tbody>
        {% for each in teaches %}
            <tr>
                {% for item in each %}
                    {% if item == None %}
                        <td>
                            <button type="button" class="badge badge-danger" data-container="body" data-toggle="popover"
                                    data-placement="top"
                                    data-content="Be sure to associate a mod to this class">
                                {{ item }}</button>
                        </td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ teaches.__len__() }} Assigned Courses</i>
    <a class="btn btn-primary" href="/functions#headingFourOpen">Associate/Dissociate Course with Instructor</a>
    <a class="btn btn-primary" href="/functions#headingFiveOpen">Associate/Dissociate Course with Mod</a>
    <hr>
    <h3 id="non-instructional-load">Non-Instructional Load</h3>
    <i>Hover over instructor ID for instructor name</i>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor ID</th>
            <th>Task</th>
            <th>TEU Value</th>
            <th>Semester</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for each in non_ins_load %}
            <tr>
                <td title="{{ each[5] }} {{ each[6] }}">{{ each[0] }}</td>
                <td>{{ each[1] }}</td>
                <td>{{ each[2] }}</td>
                <td>{{ each[3] }}</td>
                <td>{{ each[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <i>{{ non_ins_load.__len__() }} Non-Instructional Loads</i>
    <a class="btn btn-primary" href="/functions#headingSevenOpen">Add/Remove Non-Instructional Load</a>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}