{% extends "header.html" %}
{% block content %}
<h1 id="titleOfPage">Dashboard:</h1>
<div class="card">
    <div class="card-body">
    <div class="card-title"><h4>Quick-Jump Links</h4></div>
    <div class="card-text">
        <ul>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#instructors">Instructors</a></li>
    </ul>
    </div>
</div>
</div>
<hr>
<h3 id="courses">Courses</h3>
<table class="table">
<thead class="thead-dark">
    <tr>
      <th>Course ID</th>
      <th>Department</th>
        <th>Credits</th>
        <th>Course Title</th>
    </tr>
</thead>
<tbody>
    {% for each in courses %}
        <tr>
            {% for item in each %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
<a class="btn btn-primary" href="/functions">Add Course</a>
<hr>
<h3 id="instructors">Instructors</h3>
<table class="table">
<thead class="thead-dark">
    <tr>
      <th>First N</th>
      <th>Last N</th>
        <th>Email</th>
        <th>ID</th>
        <th>Desired Load</th>
    </tr>
</thead>
<tbody>
    {% for each in instructors %}
        <tr>
            {% for item in each %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
<a class="btn btn-primary" href="/functions">Add Instructor</a>
{% endblock %}