{% extends "header.html" %}
{% block content %}
    <h1>Phase 3 Reports</h1>
    <ul>
        <li>Courses assigned to Instructors</li>
        <li>Instructors assigned to Courses</li>
        <li>Any Courses not assigned to an instructor</li>
        <li>Any instructors not at their target load (low or high)</li>
    </ul>
    <h1>Phase 4 Reports</h1>
    <ul>
        <li>Inform user of courses not assigned a time</li>
        <li>What time each course is at</li>
        <li>What times each instructor is teaching</li>
    </ul>
    <h1>Additional Things to Report</h1>
    <ul>
        <li>Any violations of instructor time restrictions</li>
        <li>Any courses from the same cluster scheduled for the same time</li>
    </ul>
{% endblock %}