{% extends "header.html" %}
{% block content %}
    <h1 id="titleOfPage">Reports:</h1>
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h4>Quick-Jump Links</h4></div>
            <div class="card-text">
                <ul>
                    <li><a href="#coursesAndInstructors">Courses and Instructors</a></li>
                    <li><a href="#unassigned">Courses Not Assigned an Instructor</a></li>
                    <li><a href="#load">Instructional Load (teu)</a></li>
                    <li><a href="#timeless">Courses with No Mod</a></li>
                    <li><a href="#courseTimes">Course Times</a></li>
                    <li><a href="#instructorTimes">Instructor Teaching Times</a></li>
                    <li><a href="#restrictions">Instructor Time Restriction Violations</a></li>
                    <li><a href="#clusters">Course Cluster Violations</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <h3 id="coursesAndInstructors">Courses and Instructors</h3>
    {% if courses_and_instructors %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor</th>
            <th>Course</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for each in courses_and_instructors %}
            <tr>
                <td>{{ each[9] }} {{ each[10] }}</td>
                <td>{{ each[8] }} ({{ each[1] }})</td>
                <td>{{ each[2] }}</td>
                <td>{{ each[3] }}</td>
                <td>{{ each[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No courses or instructors.</h4>
    {% endif %}

    <hr>
    <h3 id="unassigned">Courses Not Assigned an Instructor</h3>
    {% if sections_without %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Fix</th>
        </tr>
        </thead>
        <tbody>
        {% for each in sections_without %}
            <tr>
                <td>{{ each[8] }} ({{ each[0] }})</td>
                <td>{{ each[1] }}</td>
                <td>{{ each[2] }}</td>
                <td>{{ each[3] }}</td>
                <td><a class="btn btn-primary" href="/functions#headingFourOpen">Fix</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>All Courses have Instructors assigned.</h4>
    {% endif %}

    <hr>
    <h3 id="load">Instructor Load (teu)</h3>
    {% if instructor_loads %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor</th>
            <th>Load (teu)</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    {% else %}
    <h4>There are no Instructor Loads.</h4>
    {% endif %}

    <hr>
    <h3 id="timeless">Courses with No Mod</h3>
    {% if unscheduled_courses %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor</th>
            <th>Course</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Fix</th>
        </tr>
        </thead>
        <tbody>
            {% for each in unscheduled_courses %}
                <tr>
                    <td>{{ each[2] }} {{ each[3] }}</td>
                    <td>{{ each[12] }} ({{ each[0] }})</td>
                    <td>{{ each[6] }}</td>
                    <td>{{ each[7] }}</td>
                    <td>{{ each[8] }}</td>
                    <td><a class="btn btn-primary" href="/functions#headingFiveOpen">Fix</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>There are no unscheduled courses.</h4>
    {% endif %}

    <hr>
    <h3 id="courseTimes">Course Times</h3>
    {% if course_times %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Mod</th>
        </tr>
        </thead>
        <tbody>
            {% for each in course_times %}
                <tr>
                    <td>{{ each[4] }} ({{ each[1] }})</td>
                    <td>{{ each[6] }}</td>
                    <td>{{ each[7] }}</td>
                    <td>{{ each[8] }}</td>
                    <td>{{ each[0] }} ({{ each[9] }} - {{ each[10] }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No Courses have scheduled times.</h4>
    {% endif %}

    <hr>
    <h3 id="instructorTimes">Instructor Teaching Times</h3>
    {% if instructor_times %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Teaching Mods</th>
        </tr>
        </thead>
        <tbody>
            {% for each in instructor_times %}
                <tr>
                    <td>{{ each[2] }} {{ each[3] }}</td>
                    <td>{{ each[8] }}</td>
                    <td>{{ each[9] }}</td>
                    <td>{{ each[0] }} ({{ each[10] }} - {{ each[11] }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No Instructors have scheduled times.</h4>
    {% endif %}

    <hr>
    <h3 id="restrictions">Instructor Time Restriction Violations</h3>
    {% if restriction_violations %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Instructor</th>
            <th>Course in Violation</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Mod Scheduled</th>
            <th>Fix</th>
        </tr>
        </thead>
        <tbody>
            {% for each in restriction_violations %}
                <tr>
                    <td>{{ each[9] }} {{ each[10] }}</td>
                    <td>{{ each[8] }} ({{ each[2] }})</td>
                    <td>{{ each[3] }}</td>
                    <td>{{ each[4] }}</td>
                    <td>{{ each[5] }}</td>
                    <td>{{ each[1] }}</td>
                    <td><a class="btn btn-primary" href="/functions#headingEightOpen">Fix</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No Instructor Time Restriction Violations.</h4>
    {% endif %}

    <hr>
    <h3 id="clusters">Course Cluster Violations</h3>
    {% if cluster_violations %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Course</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Cluster ID</th>
            <th>Mod</th>
            <th>Fix</th>
        </tr>
        </thead>
        <tbody>
            {% for each in cluster_violations %}
                <tr>
                    <td>{{ each[8] }} ({{ each[0] }})</td>
                    <td>{{ each[2] }}</td>
                    <td>{{ each[3] }}</td>
                    <td>{{ each[4] }}</td>
                    <td>{{ each[9] }}</td>
                    <td>{{ each[5] }}</td>
                    <td><a class="btn btn-primary" href="/functions#headingSixOpen">Fix</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No Course Cluster Violations.</h4>
    {% endif %}

    <button class="btn btn-primary" id="start">These reports are acceptable</button>
    <img id="loader2" src="{{ url_for('static', filename='hirola-wo-white.png') }}" style="display: none;"/>
    <script>
        $(document).ready(function (e) {
            var audio = new Audio('https://upload.wikimedia.org/wikipedia/commons/d/db/Gimn_Sovetskogo_Soyuza_%281977_Vocal%29.oga');
            $('#start').on('click', function () {
                if ($(this).html() === 'These reports are acceptable') {
                    $("#loader2").css("display", "block");
                    $(this).html('Stop this Nonsense');
                    $("body").css("transition", "background-color 10s");
                    $("body").css("background-color", "red");
                    audio.currentTime = 1.1;
                    audio.play();
                } else {
                    $(this).html('These reports are acceptable');
                    $("body").css("transition", "background-color 1s");
                    $("#loader2").css("display", "none");
                    audio.pause();
                    $("body").css("background-color", "white");
                }
            });
        });
    </script>
{% endblock %}